div.contenidoCard{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6%;
}

div.contenedorCard{
    background: #D9D9D9;
    border: 3px solid var(--primary-bg-color);
    cursor: pointer;
    transition: transform 0.3s ease;
}

div.contenedorCard:hover{
    transform: scale(1.02);
}

div.imagen > img{
    height: auto;
    width: 100%;
}

div.texto > h2{
    font-size: 150%;
}

div.precio{
    display: flex;
    justify-content: space-around;
}

div.precio > p{
    font-size: 100%;
    padding: 3% 0 6% 0;
    display: flex;
}

div > button{
    margin: 1% 0 4% 0;
    padding: 3% 4%;
    cursor: pointer;
    border-radius: 30px;
    border: 2px solid var(--primary-bg-color);
    background: var(--secondary-bg-color);
    font-size: 95%;
    transition: transform 0.3s ease, box-shadow 0.4s ease;;
}

div > button:hover{
    transform: scale(1.08);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.35);
    transition: transform 0.3s ease, box-shadow 0.4s ease;
}

div.contenidoCompras{
    display: inherit;
    width: 100%;
    background: var(--primary-bg-color);
    border: 4px solid rgb(95, 177, 8);
    border-radius: 5px;
}

div.contenedorCompras{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.imagenCompras > img{
    width: 15vw;
    height: auto;
}

div.textoCompras{
    color: #fff;
    font-weight: 500;
    text-align: center;
}

div.textoCompras > h2{
    font-weight: 500;
    font-size: 2vw;
}
