:root{
    --primary-bg-color: #6A009B;
    --secondary-bg-color: #DDB5E4;

    --active-bg-color: #FFFF00;
    --default-bg-color: #FEFEFE;
}

@font-face {
    font-family: Itim;
    src: url("/Itim-Regular.ttf");
}

*, *:before, *:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Itim;
}

a{
    text-decoration: none;
    color: inherit;
}

